<% @products.each do |product| %>

	<div class="item">
		<div class="imageholder">
			<%= link_to image_tag(product.image.url), product %>
		</div>
		<p class="name"><%= link_to product.name, product %></p>	
		<p class="price"><%= number_to_currency product.price %></p>
		
		<p>
			<%= link_to 'Agregar al carrito',
			 			 add_to_cart_product_path(product),
			 			:method => :post %>
		</p>
		
	</div>
	
<% end %>

<div class='clearb'></div>
